@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 14px;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
.cta,
.list-item {
  font-family: "Raleway", sans-serif;
}

/* header style */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  /* border: 2px solid rgb(63, 29, 29); */
}

#Logo {
  max-width: 50%;
  height: 50%;
}

#Logo > a {
  height: 100%;
  max-width: 80%;
  display: inline-block;
}

#Logo > a > img {
  width: min(50vw, 200px);
}

ul {
  display: flex;
  gap: 1rem;
  padding-left: 0;
  align-items: center;
}

/* making secions responsive */
section {
  width: 90%;
  max-width: 600px;
  text-align: center;
  margin: 5rem auto;
}

.hero__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4;
}

.hero__text > p {
  width: 80%;
  margin-inline: auto;
}

.cta {
  padding: 0.75rem 2em;
  border: none;
  outline: none;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border-radius: 100px;
  margin-block: 1rem;
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4rem;
  column-gap: 6rem;
}

/* stay section */

.stay {
  width: 85%;
  max-width: 950px;
  text-align: center;
  margin: 5rem auto;
  position: relative;
}

.stay__art {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1.5rem;
}

.stay__art > * {
  flex: 2;
}

.stay__title {
  font-size: 2rem;
  width: 85%;
}

.stay__link {
  display: flex;
  margin-top: 0.75rem;
}

.stay__link > div {
  position: relative;
}
.stay__link_text {
  display: inline-block;
}
.stay__link > div::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #62e0d9;
  position: absolute;
  bottom: -30%;
  left: 0;
}

.stay__link > div > img {
  margin-left: 0.25rem;
}

.stay__link_text {
  color: #62e0d9;
}

/* comment section */
.comments {
  display: flex;
  gap: 2rem;
  max-width: 1110px;
}
.comments_first {
  position: relative;
}
.quotes {
  position: absolute;
  left: -2%;
  top: -16%;
  z-index: -5;
}
.comment {
  background-color: hsl(219, 30%, 18%);
  padding: 2rem;
  border-radius: 10px;
  text-align: left;
}
.comment > p {
  margin-bottom: 1rem;
}
.person {
  display: flex;
  align-items: center;
}
.person__avatar {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-right: 1rem;
}
.person__info {
  text-align: left;
}
.person__info > h5,
p {
  margin: 0;
}

.signUp {
  background-color: hsl(217, 28%, 15%);
  width: 50%;
  margin-inline: auto;
  padding: 3rem;
  text-align: center;
}

.signUp > article > p {
  width: 80%;
  margin: 1rem auto;
}

.signUp__flex {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-inline: auto;
}

.signUp__flex > button {
  border: none;
  outline: none;
}

main {
  position: relative;
}

/* footer section */
footer {
  background-color: hsl(216, 53%, 9%);
  padding: 4rem;
}

.row {
  display: grid;
  /* grid-template-columns: 3fr 2fr 2fr 2fr 1fr; */
  grid-template-columns: 30% 30% 15% 15% 10%;
  place-items: center;
}

.location {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.location > p {
  width: 55%;
}

.contact > div {
  display: flex;
  gap: 0.75rem;
  margin-block: 1.25rem;
}

.socials > i {
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .hero__text {
    display: grid;
  }
  .hero__title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.4;
  }
  .hero__text > p {
    width: 100%;
  }
  .cta {
    width: 70%;
    margin: 1rem auto;
  }
  .stay__art {
    display: block;
  }
  .comments {
    flex-direction: column;
    margin-block: 3rem;
  }

  .row {
    grid-template-columns: 1fr;
    place-items: start;
    margin-block: 1.5rem;
  }
  .socials {
    justify-self: center;
  }
  .location > p {
    width: 100%;
  }
}
